html {
        scroll-behavior: smooth;
    }
.room-card {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(20px);

  border-radius: 16px;
  padding: 20px;

  border: 1px solid rgba(255, 255, 255, 0.1);

  display: flex;
  align-items: center;
  gap: 16px;

  transition: all 0.3s ease-out;
}

.room-card:hover {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);

  transform: scale(1.03);

  box-shadow: 0 10px 40px rgba(255, 255, 255, 0.1);
}

.room-card i {
  width: 24px;
  height: 24px;
  color: rgb(96, 165, 250);  /* Tailwind blue-400 */
}

.room-card h4 {
  color: white;
  font-size: 14px;
}

.room-card p {
  font-size: 12px;
  color: rgb(156, 163, 175); /* Tailwind gray-400 */
}
