* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 13px Helvetica, Arial;
}


.chat-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;

  background: linear-gradient(to right, #111, #1a1a1a);
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 16px;
  border-bottom: 1px solid #222;
}
.room-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.room-icon {
  font-size: 20px;
  background: #2b2b2b;
  width: 36px;
  height: 36px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.room-text {
  display: flex;
  flex-direction: column;
}

#roomTitle {
  font-weight: 600;
  font-size: 16px;
}

#memberCount {
  font-size: 12px;
  color: #aaa;
}
#membersToggle {
  background: #1f2a37;
  color: white;
  border: none;

  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;

  font-size: 13px;
}


/* side bar styles */

.members-sidebar {
  position: fixed;
  right: 0;
  top: 60px;
  width: 280px;
  height: calc(100% - 60px);

  background: white;
  border-left: 1px solid #ddd;

  transform: translateX(100%);
  transition: transform 0.3s ease;

  z-index: 999;
  padding: 12px;
}

.members-sidebar.open {
  transform: translateX(0);
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: 600;
  margin-bottom: 10px;
}

#membersList {
  list-style: none;
}

#membersList li {
  padding: 8px 4px;
  border-bottom: 1px solid #eee;
}



form {
  background: black;
  position: fixed;
  bottom: 0;
  width: 100%;

  display: flex;
  gap: 10px;
  padding: 8px;
}

form input {
  padding: 10px;
  width: 85%;
  margin: 2px 0;
}

form button {
  float: right;
  background-color: tomato;
  border: none;
  border-radius: 5px;
  padding: 1em 0;
  width: 14%;
  margin: 3px 0;
}

#messages {
  list-style-type: none;
  /* margin: 0;
  padding: 0; */
  margin-top: 70px;
  margin-bottom: 60px;
}

#messages li {
  padding: 5px 10px;
}

#messages li:nth-child(odd) {
  background: #eee;
}


@media (max-width: 768px) {
  .members-sidebar {
    width: 100%;
  }
}
